body {
	background-color: #dae7be;
	font-family: 'Special Elite', cursive;
}
#twittlerTitle {
	font-family: 'Spicy Rice', cursive;
	text-align: center;
	font-size: 42px;
}

#writeOwnTweet {
	margin-bottom: 15px;
	display: inline-block;
	width: 200px;
	height: 18px;
	border-radius: 120px;
}

#submit-btn {

	display: inline;
	text-align: center;
	margin-bottom: 13px;
	border-radius: 100px;
}

#newTweeter {
	margin-bottom: 20px;
	border-radius: 100px;
}

.actualTweets {
	margin-bottom: 15px;
	text-align: center;
	font-size: 18px;
}